@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

$color-main-light: #f2f2f2;
$color-main-dark: #2b6777;
$color-main-light-accent: #c8d8e4;
$color-main-bright-accent: #52ab98;
$color-font-light: #ffffff;
$color-font-dark: #000000;
$font-master: 'Charter';
$font-accent: 'Gill Sans';

.registration-form {
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: $color-main-light-accent;
  width: 75%;
  margin: 5%;

  input:focus {
    opacity: .7;
  }
}

.registration-form-header {
  color: $color-font-dark;
  font-family: $font-master;
  text-align: center;
  font-weight: bold;
  margin-bottom: .5rem;
}

.registration-form-label {
  color: $color-font-dark;
  font-family: $font-master;
  letter-spacing: 1px;
}

.registration-form-input {
  border-radius: 30px;
  border: none;
  opacity: .4;
  transition: all ease .4s;
}

.registration-form-button {
  color: $color-font-light;
  font-family: $font-master;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing:1px;
  border-radius: 30px;
  background: $color-main-dark;
  border: 1.5px solid $color-main-dark;
  width: 25%;
  padding: .75rem;
  
  &:hover {
    background-color: $color-font-light;
    border-color: $color-main-dark;
    color: $color-main-dark
  }
}
